*{
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    background-color: rgb(206, 203, 203);
    font-family: 'Preahvihear', sans-serif;
}


.container{
    display: grid;
    grid-template-columns: 2fr 1fr;
    height: 80vh;
    width: 70vw;
    border-radius: 15px;
    box-shadow: 1px 1px 10px rgb(99, 99, 99);
    background: url("./sneha-0RPZ3qwrGjw-unsplash.jpg") center / cover ;
}

.drizzle{
    background-image: url("./drizzle.jpg");
}

.fog{
    background-image: url("./fog.jpg");
}

.haze{
    background-image: url("./haze.jpg");
}

.rain{
    background-image: url("./rain.jpg");
}

.snow{
    background-image: url("./snow.jpg");
}

.thunder{
    background-image: url("./thunder.jpg");
}


.main{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: rgb(255, 255, 255);
    padding: 20px;
    /* backdrop-filter: blur(1px); */
}

.place{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.place h2{
    filter: drop-shadow(1px 1px 5px rgb(36, 36, 36));
    text-transform: uppercase;
}

.place i{
    filter: drop-shadow(1px 1px 5px rgb(36, 36, 36));
    font-size: 1rem;
}

#search{
    display: flex;
    align-items: center;
    gap: 10px;
}

#searchBox{
    height: 20px;
    width: 200px;
    border-radius: 15px;
    border: none;
    padding: 5px 15px;
}

.temp{
    display: flex;
    flex-direction: column;
}

.temp h1{
    font-size: 5.5rem;
    filter: drop-shadow(1px 1px 5px rgb(36, 36, 36));
}

.temp h3{
    margin-top: -25px;
    filter: drop-shadow(1px 1px 5px rgb(19, 19, 19));
}

.temp p{
    filter: drop-shadow(1px 1px 5px rgb(19, 19, 19));
}

.detail{
    background-color: rgba(71, 71, 71, 0.329);
    backdrop-filter: blur(5px);
    border-radius: 0 15px 15px 0;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    padding-bottom: 50px;
}

.detail h2{
    filter: drop-shadow(1px 1px 5px rgb(65, 64, 64));
    align-self: flex-start;
    text-decoration: underline;
}

.detail div{
    width: 100%;
    display: flex;
    justify-content: space-between;
    opacity: 80%;
}

hr{
    width: 90%;
}

@media screen and (max-width: 450px) and (orientation: portrait) {


    .container{
        grid-template-columns: 2fr 1fr;
        /* grid-template-rows: 3fr 1fr; */
        height: calc(100vh-80px);
        width: calc(100vw-70px);
        border-radius: 0px;        
    }
    
    .main{
        backdrop-filter: blur(2px);
    }
    
    .place i{
        font-size: 1.1rem;
        display: none;
    }

#searchBox{
    height: 20px;
    width: 100px;
display: none;
    border-radius: 15px;
    border: none;
    padding: 5px 15px;
}

.temp h1{
    font-size: 5rem;
    filter: drop-shadow(1px 1px 5px rgb(36, 36, 36));
}

    .detail{
        background-color: rgba(37, 37, 37, 0.644);
        backdrop-filter: blur(5px);
        border-radius: 0;
        padding: 15px;
        padding-bottom: 10px;
    }
    
    .detail h2{
        filter: drop-shadow(1px 1px 2px rgba(29, 29, 29, 0.644));
        letter-spacing: 2px;
    }
    
}



